<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lisas-Programm</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/extra-styles.css">
</head>
    <body>
        <div class="menu">
            <h2>IT-Knwoledge</h2> 
            <form>
                <input type="search" list="entrys">
                <datalist id="entrys">
                    <option value="GoLang"> 
                    <option value="Python Programmierung"> 
                    <option value="Javascript interfaces"> 
                </datalist> 
            </form>
        </div>
        <div class="mainbody">
            <h1>Artikel</h1>
            <hr>
            <div class="entrysec">
                <div class="entry">
                    <a href="/detail">
                        <div class="imagecomp">
                            <img src="/assets/images/coverimage.jpg" alt="Italian Trulli">
                        </div>
                        <div class="textcomp">
                            <h2>Warum das Programmieren immer wichtiger wird</h2>
                            <p>Lucky for us, we have a strategic partner, Nrich, that recommended Elastic as they have substantial experience with deploying, managing, and optimizing the usage of the Elastic platform in the financial sector.
                            After getting initial support from Elastic Training, we decided it was the ideal tool to transform our business. We discovered that Elastic is extremely powerful and flexible, and simple to configure and operate.
                            Elastic addressed some of our specific IT needs which has dramatically helped us achieve our goals while enhancing the internal and external customer experience.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="entry">
                <a href="/detail">
                    <div class="imagecomp">
                        <img src="/assets/images/coverimage.jpg" alt="Italian Trulli">
                    </div>
                    <div class="textcomp">
                        <h2>Warum das Programmieren immer wichtiger wird</h2>
                        <p>Lucky for us, we have a strategic partner, Nrich, that recommended Elastic as they have substantial experience with deploying, managing, and optimizing the usage of the Elastic platform in the financial sector.
                        After getting initial support from Elastic Training, we decided it was the ideal tool to transform our business. We discovered that Elastic is extremely powerful and flexible, and simple to configure and operate.
                        Elastic addressed some of our specific IT needs which has dramatically helped us achieve our goals while enhancing the internal and external customer experience.
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li><a>Datenschutzerklärung</a></li>
                <li><a>Impressum</a></li>
            </ul>

            
        </div>
    </body>
</html>
