<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lisas-Programm</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/extra-styles.css">
</head>
<body>
  <header>
    <span>Lisas Programm
    <ul class="w-full place-content-center flex flex-wrap flex-col sm:flex-row sm:justify-around md:justify-start md:gap-4">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    </span>
  </header>
  <main></main>
</body>
</html>